@import url(./custom-vagas-candidatadas.css);
@import url(./custom-requisicao-de-vaga.css);

/*titles*/
.title{
    width: 100%;
}

/*forms
.edit{
    color: #B8B8B8;
}

.edit:focus{
    color: #212529;
}*/