@import url(./custom-cadastrar-processo-seletivo.css);
@import url(./custom-vagas-candidatadas.css);

.title{
    margin-bottom: 15px;
}

.form-label{
    width: 170px;
}

.form-control{
    max-width: 180px;
}

div .text-area{
    max-width: 350px;
}

.vagas{
    max-width: 720px;
}

@media screen and (min-width: 576px){
    .form-label{
        margin-right: 0;
    }
}
