@import url(./bootstrap.min.css);

/*document*/
html body{
    background-color: #ECEDF0;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.navbar{
    padding: 0;
}

.navbar-toggler{
    border: none;
}

.background-navbar{
    background-color: #7a18c5;
    background: linear-gradient(to right, rgb(122, 24, 197) 50%, rgb(138, 62, 196));
} 

.navbar-button{
    height: 30px;
    width: auto;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-brand img{
    padding-left: 2px;
}

/*Titles*/
.title{
    display: flex;
    width: 70%;
    margin: 15px 0px 15px 0px;
}

.subtitle{
    display: flex;
    width: 70%;
    margin: -10px 0px 5px 0px;
}

.title h2{
    margin-right: 7.5px;
}

.title img{
    padding-bottom: 5px;
}

.title-1{
    color: #7a2cb6;
    text-decoration: underline;
    font-weight: bold;
    font-size: 27px;
}

.title-2{
    color: #7a2cb6;
    font-weight: bold;
    font-size: 20px;
}

.title-3{
    color: #7a2cb6;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

/*Forms*/
.form-label{
    width: 50vw;
    margin-right: 0;
    font-size: 15px;
}

.form-control{
    height: 25px;
    font-size: 15px;
}

.form-control:focus{
    box-shadow: 0 0 5px #9a5ec9;
    border-color: #ced4da;
}

select[name="vinculo-empregaticio"] {
    margin-left: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

input[type="time"]{
    padding: 0;
    text-align: center;
}

.col-sm-10{
    width: 45vw;
    padding: 0;
}

.input-1{
    width: 21.3vw;
    padding-right: 10px;
}

.input-2{
    width: 21.3vw;
    padding-left: 10px;
}

.label-middle{
    padding: 0;
    flex-grow: 0;
}

#textarea{
    resize: none;
    height: 60px;
}

.form-control:disabled, .form-control[readonly]{
    background-color: #f5f5f5;
}

select[readonly], input[readonly]{
    background-color: #f5f5f5;
    pointer-events: none;
    touch-action: none;
}

/*buttons*/
.buttons{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 20vw 0 20vw;
}

.btn{
    color: #222121;
    border: 2px solid #7a2cb6;
    border-radius: 0.50rem;
}

.btn:hover{
    transform: scale(1.06);
    color: #f5f5f5;
    background-color: #7a2cb6;
    border-color: #7a2cb6;
}

.btn:focus, .btn:focus:active{
    box-shadow: 0 0 0 0;
}

/*footer*/
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #7a18c5;
    background: linear-gradient(to right, rgb(122, 24, 197) 50%, rgb(138, 62, 196));
}

.img-footer{
    cursor: pointer;
}

.label-footer{
    color: #f5f5f5;
}

/*@media screens*/
@media screen and (min-width:576px){
    /*navbar*/
    .navbar-brand{
        margin-left: 2vw;
    }

    /*forms*/
    .form-label{
        margin-right: 100%;
    }

    .form-control{
        margin-left: 10px;
    }

    select[name="vinculo-empregaticio"] {
        margin-left: 10px;
    }

    .input-1{
        width: 21.7vw;
        padding-right: 25px;
    }

    .input-2{
        width: 21.7vw;
    }   

    #textarea{
        margin: 0;
    }

    /*buttons*/
    .buttons{
        justify-content: right;
        margin: 0;
    }

    .buttons .btn{
        margin-left: 20px;
    }

    /*footer*/
    .footer{
        padding-left: 5vw;
        justify-content: left;
    }

    .img-footer{
        margin-right: 20px;
    }

    .label-footer{
        position: absolute;
        margin-left: 65vw;
    }
}

@media screen and (min-width:700px){
    /*forms*/
    .input-1{
        width: 22vw;
    }
    .input-2{
        width: 22vw;
    }

    /*footer*/
    .label-footer{
        margin-left: 70vw;
    }
}

@media screen and (min-width:900px){
    /*footer*/
    .label-footer{
        margin-left: 75vw;
    }
}

@media screen and (min-width:1250px){
    /*forms*/
    .input-1{
        width: 22.2vw;
    }
    .input-2{
        width: 22.2vw;
    }

    /*footer*/
    .label-footer{
        margin-left: 80vw;
    }
}